@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Akademi</h1>
    <br>
    <p>
        <a class="btn btn-success" href="/course/apply">Kayıt Ol</a>
    </p>
</div>
